* {
    margin: 0;
    padding: 0;
}
:root {
  --squareNum: 16;
}
body{
  background-color: #C6E2FF;

}

h1{
  text-align: center;
}
.main-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--squareNum), 1fr);
    grid-template-rows: repeat(var(--squareNum), 1fr);  
    height: 600px;
    width: 600px;
}


#gridCell {
  border: 1px solid gray;
  transition: .2s;
}

.colorChange {
  background: black;
}
