* {
    margin: 0;
    padding: 0;
}
:root {
  --squareNum: 16;
}
body{
  min-height: 100vh;
  background-color: #C6E2FF;
  display: flex;
  flex-direction: column;
}

h1{
  text-align: center;
}
.main-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 5%;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--squareNum), 1fr);
    grid-template-rows: repeat(var(--squareNum), 1fr);  
    height: 600px;
    width: 600px;
}

#clear-btn{
  height: 50px;
  width: 100px;
}

#gridCell {
  border: 1px solid gray;
  transition: .2s;
}

.colorChange {
  background: black;
}
footer {
  background-color: #FCF5E5;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  gap: 1em;
  margin-top: auto;
}
#myName {
  text-align: center;
  align-self: center;
}
#gitLink {
  background-color: transparent;
  border: none;
}