* {
    margin: 0;
    padding: 0;
}

.body {
  height: auto;
}

.container {
    display: grid;
    grid-gap: 1em;
    
}

.gridRow {
  border: 1px solid black;
}

.gridCol {
  border: 2px solid black;
}